/* Fuente y estilos base */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --primary-color: #0d2740;
  --secondary-color: #8bc34a;
  --dark-bg: #333;
  --light-bg: #fff;
  --text-light: #fff;
  --text-dark: #333;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-dark);
  background-color: var(--light-bg);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Botones */
.btn {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.btn-tech {
  background-color: var(--primary-color);
  color: var(--text-light) !important;
  z-index: 5;
}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
  color: var(--text-light);
  z-index: 3;
}

.navbar-brand {
  padding: 0 !important;
}

.navbar-brand img {
  height: 70px;
}

/* Estilos para los enlaces del menú */
.navbar-nav .nav-link {
  color: white;
  font-weight: normal;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

/* Efecto hover */
.navbar-nav .nav-link:hover {
  color: #00bfff !important;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 191, 255, 0.7);
  background-color: rgba(0, 191, 255, 0.1);
  transform: scale(1.09);
}

.navbar-toggler {
  border-color: var(--text-light) !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.nosotros img {
  border-radius: 0.5em;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.text-paragraph {
  text-align: justify;
}

/* Servicios */
.card-service {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Sombra */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-service:hover {
  transform: translateY(-10px); /* Elevación en el eje Y */
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

/* Dark Mode */
body.dark-mode {
  background-color: var(--dark-bg);
  color: var(--text-light);
}

body.dark-mode .navbar-brand img,
body.dark-mode .footer_logo img {
  border-radius: 0.25em;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.4);
  margin-right: 0.5em;
}

body.dark-mode .navbar,
body.dark-mode .nosotros,
body.dark-mode .reviews,
body.dark-mode footer {
  background-color: var(--dark-bg) !important;
}

body.dark-mode .reviews h2 {
  color: var(--text-light) !important;
}

body.dark-mode .nosotros img {
  border-radius: 0.25em;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.4);
}

.card-service:hover {
  transform: translateY(-10px); /* Elevación en el eje Y */
  box-shadow: 0 15px 25px rgba(255, 255, 255, 0.2); /* Sombra más pronunciada */
}

body.dark-mode .btn-tech {
  background-color: var(--dark-bg);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.4);
}

.toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-light);
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.toggle-button:hover {
  color: var(--secondary-color);
}

/* Secciones */
#nosotros,
#servicios {
  min-height: 100vh;
  overflow: auto;
}

/* Carrusel */
.slider-wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  animation: slider-animation 36s infinite ease-in-out;
  background-size: cover;
}

#slide-1 {
  background-image: url("/assets/images/analisis.webp");
}
#slide-2 {
  animation-delay: 6s;
  background-image: url("/assets/images/design.webp");
}
#slide-3 {
  animation-delay: 12s;
  background-image: url("/assets/images/backend.webp");
}
#slide-4 {
  animation-delay: 18s;
  background-image: url("/assets/images/testing.webp");
}
#slide-5 {
  animation-delay: 24s;
  background-image: url("/assets/images/proyecto.webp");
}
#slide-6 {
  animation-delay: 30s;
  background-image: url("/assets/images/clases.webp");
}

@keyframes slider-animation {
  0%,
  11.1% {
    opacity: 1;
  }
  16.7%,
  94.4% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 15%;
  z-index: 2;
  color: var(--text-light);
  text-align: left;
  padding-top: 150px;
}

.text-overlay h1,
.text-overlay h2 {
  max-width: 600px;
  margin: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), 0 3px 6px rgba(0, 0, 0, 0.5);
}

/* Cambiar el color de los iconos del carrusel a negro en modo claro */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(288deg)
    brightness(103%) contrast(103%);
}

/* Iconos del carrusel en modo oscuro */
body.dark-mode .carousel-control-prev-icon,
body.dark-mode .carousel-control-next-icon {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}

/* Animaciones */
@keyframes circle-in-center {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(125%);
  }
}

[transition-style="in:circle:center"] {
  position: relative;
  overflow: hidden;
}

[transition-style="in:circle:center"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(139, 195, 74, 0.4);
  z-index: -1;
  clip-path: circle(0%);
}

.animate-circle::before {
  animation: circle-in-center 60s cubic-bezier(0.25, 1, 0.3, 1) forwards;
  animation-delay: 3s;
}

/* Contacto */
input,
textarea {
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.3), 0 3px 6px rgba(0, 0, 0, 0.3);
}

/**/

footer {
  background-color: #0e233f;
  color: #fff !important;
}

/* *****   RRSS   ***** */
.text-icon {
  color: #ffff;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
}

.text-icon:hover {
  color: rgb(139, 195, 74);
  text-shadow: 0 6px 12px rgba(255, 255, 255, 0.5);
}

/* *****   Responsive   ***** */

@media (max-width: 576px) {
  .navbar-brand img {
    height: 50px;
  }

  .navbar-brand h4 {
    font-size: 0.8em;
  }

  .navbar-toggler {
    padding: 0 !important;
  }
  .text-overlay {
    left: 10%;
  }

  #nosotros-text {
    text-align: justify;
  }
}
